In [21]:
#import matplotlib dependencies
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [22]:
# import additional dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [23]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [24]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)

In [25]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables

Base.prepare(engine, reflect=True)

# View all of the classes that automap found

Base.classes.keys()

['measurement', 'station']

In [26]:
# Save references to each table

Measurement = Base.classes.measurement

Station = Base.classes.station

In [31]:
# create inspector object and inspect the Measurement table

inspector = inspect(engine)
inspector.get_columns('measurement')
for i in inspector.get_columns('measurement'):
    print(i['name'], i['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [32]:
# inspect the Station table
inspector.get_columns('station')
for i in inspector.get_columns('station'):
    print(i['name'], i['type'])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

<class 'sqlalchemy.ext.automap.station'>

In [33]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [34]:
#find out how many dates are in the data
session.query(func.count(Measurement.date)).all()

[(19550,)]

In [35]:
#find the most recent date in the data set.
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23',)

In [43]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.

one_year = dt.date(2017,8,23) - dt.timedelta(days=365)

one_year

datetime.date(2016, 8, 23)

In [81]:
# Perform a query to retrieve the data and precipitation scores

q = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date >= one_year)

In [91]:

precip_df = pd.DataFrame(q, columns= ['date','prcp'])

In [92]:
precip_df.head()

         date  prcp
0  2016-08-23  0.00
1  2016-08-24  0.08
2  2016-08-25  0.08
3  2016-08-26  0.00
4  2016-08-27  0.00

In [93]:
precipitation = precip_df.sort_values('date')
precipitation.head(20)

            date  prcp
0     2016-08-23  0.00
1009  2016-08-23   NaN
1529  2016-08-23  1.79
704   2016-08-23  0.05
361   2016-08-23  0.15
1881  2016-08-23  0.70
1192  2016-08-23  0.02
1     2016-08-24  0.08
1530  2016-08-24  2.15
705   2016-08-24  2.28
1010  2016-08-24   NaN
1882  2016-08-24  1.45
1193  2016-08-24  1.22
362   2016-08-24  2.15
2     2016-08-25  0.08
706   2016-08-25  0.00
1194  2016-08-25  0.21
1531  2016-08-25  0.06
1011  2016-08-25  0.00
1883  2016-08-25  0.11

In [98]:
precipitation.reset_index(drop=True, inplace=True)

In [99]:
precipitation.head()

         date  prcp
0  2016-08-23  0.00
1  2016-08-23   NaN
2  2016-08-23  1.79
3  2016-08-23  0.05
4  2016-08-23  0.15

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [102]:
# Design a query to calculate the total number stations in the dataset
session.query(func.count(Station.station)).all()

[(9,)]

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [104]:
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [119]:
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
    filter(Measurement.station == 'USC00519281').all()

[(54.0, 85.0, 71.66378066378067)]

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()