# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime

df['date']= pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [9]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)

In [10]:
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [11]:
from scipy import stats

In [13]:
#setting the index to the date column was unhelpful for completing the following steps so I created a new dataframe with the same date and kept the date column as a column.
df2 = pd.read_csv('resources/hawaii_measurements.csv')
df2.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [ ]:
# Filter data for desired months

In [16]:
june_df = df2.loc[df2['date'].str.contains('06-')]

In [17]:
june_df

           station        date  prcp  tobs
133    USC00519397  2010-06-01  0.00    78
134    USC00519397  2010-06-02  0.01    76
135    USC00519397  2010-06-03  0.00    78
136    USC00519397  2010-06-04  0.00    76
137    USC00519397  2010-06-05  0.00    77
...            ...         ...   ...   ...
19492  USC00516128  2017-06-26  0.02    79
19493  USC00516128  2017-06-27  0.10    74
19494  USC00516128  2017-06-28  0.02    74
19495  USC00516128  2017-06-29  0.04    76
19496  USC00516128  2017-06-30  0.20    75

[1700 rows x 4 columns]

In [18]:
dec_df = df2.loc[df2['date'].str.contains('12-')]

In [19]:
dec_df

           station        date  prcp  tobs
305    USC00519397  2010-12-01  0.04    76
306    USC00519397  2010-12-03  0.00    74
307    USC00519397  2010-12-04  0.00    74
308    USC00519397  2010-12-06  0.00    64
309    USC00519397  2010-12-07  0.00    64
...            ...         ...   ...   ...
19323  USC00516128  2016-12-27  0.14    71
19324  USC00516128  2016-12-28  0.14    71
19325  USC00516128  2016-12-29  1.03    69
19326  USC00516128  2016-12-30  2.37    65
19327  USC00516128  2016-12-31  0.90    65

[3939 rows x 4 columns]

In [ ]:
# Identify the average temperature for June

In [20]:
june_ave = june_df['tobs'].mean()
june_ave

74.94411764705882

In [ ]:
# Identify the average temperature for December

In [21]:
dec_ave = dec_df['tobs'].mean()
dec_ave

71.85275450621985

In [25]:
# Create collections of temperature data

june_sample = june_df.sample(n=1000)
dec_sample = dec_df.sample(n=1000)

In [ ]:
# Run paired t-test

In [26]:
stats.ttest_rel(june_sample['tobs'], dec_sample['tobs'])

Ttest_relResult(statistic=18.102230811294184, pvalue=1.4584198732759304e-63)

### Analysis

Because the data for June and December did not have the same number of rows, I used random samples taken from each to run the t-test. The differences in temperatures between June and December do not appear to be statistically significant.